/* You can add global styles to this file, and also import other style files */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  overflow-x: hidden;
  font-family: "Poppins", sans-serif;
  z-index: 1;
}

nav {
  color: white;
  position: fixed; /* Change position to fixed */
  top: 0; /* Position it at the top of the viewport */
  width: 100%; /* Make it full width */
  z-index: 2;
}

.title {
  color: white;
  z-index: 2;
  position: absolute;
  font-size: 3rem;
  left: 50%;
  top: 75%;
  transform: translate(-50%, -75%);
}
